body{
    color:#333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



.main-content{
    flex-grow: 1;
    background-image: url("../img/weather1.jpg")   ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: -1;
    
}

.main-content1{
    flex-grow: 1;
    opacity: 1;
    z-index: 1;
  
}

.message-container{
    display: block;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10%;
}


.message-container .m1{
    display: block;
    background-color:#8888;
    border-radius: 4%;
    height: 14px;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}   

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: black;
    margin-right: 16px;
    text-decoration: none;
    padding: 12px 10px;
    background-color:#888888;
    border-radius: 10%;
    
}

.portrait{
    width: 250px;
}


input{
    border:1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border:1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

button:hover,
header a:hover{
    color: #888888;
    background-color: black;
}

.m1{
    font-weight: bold;
    padding: 10px;
}